<!DOCTYPE html>
<html lang='en'>

    <head>
        <title>Mess Menu</title>
        {% load static %}
        <link rel=stylesheet href='{% static "messmenu/stylemenu.css"%}'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class='topheader'><b>Mess Management System</b></div>
        <div class='menu'>Mess Menu</div>
        
        <form class='details' method="post">
            {% csrf_token %}
            {{ form }}
            <button type='submit' class='btn btn-primary' id='butn'>Submit</button>
        </form>
        {% if foods.count is 3 %}
            <div class="edit">
                <table class="table table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Meal Type</th>
                            <th>Meal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for food in foods %}
                            <tr>
                                <td>{{ food.type }}</td>
                                <td>{{ food.food }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        {% elif foods.count > 3 %}
            <div class="edit">
                <table class="table table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Weekday</th>
                            <th>Meal Type</th>
                            <th>Meal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for food in foods %}
                            <tr>
                                {% if food.s2 is 1 %}
                                <td rowspan="3">{{ food.weekday }}</td>
                                {% endif %}
                                <td>{{ food.type }}</td>
                                <td>{{ food.food }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </body>
</html>