<!DOCTYPE html>
<html lang='en'>

    <head>
        <title>Guest Booking</title>
        {% load static %}
        <link rel=stylesheet href="{% static 'guestpage/styleguest.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class='topheader'><b>Mess Management System</b></div>
        <div class='book'>Book Your Meal</div>
        <div class='detail'>
            <form class='mess'>
                <input type='text' class='form-control' placeholder='First Name'>
                <input type='text' class='form-control' placeholder='Last Name'>

                <div class='choosemess'>Mess Block : </div>

                <select class='messblock' name='blocks'>
                    <option value='0'>---Select Mess Block---</option>
                    <option value='1'>Mess Block 1</option>
                    <option value='2'>Mess Block 2</option>
                    <option value='3'>Mess Block 3</option>
                    <option value='4'>Mess Block 4</option>
                    <option value='5'>Mess Block 5</option>
                </select>

                <div class='choosemeal'>Meal Type : </div>
                <select class='mealtype' name='selectmeal'>
                    <option value='0'>---Select Meal Type---</option>
                    <option value='1'>Breakfast</option>
                    <option value='2'>Lunch</option>
                    <option value='3'>Dinner</option>
                </select>
                <div class='dat'>Date : </div>
                <input type="date" class="mydate" >
                
                <button type='submit' class='btn btn-primary' id='butn'>Submit</button>
            </form>
            
        </div>
        
    </body>
</html>