body
{
    margin:0;
    overflow: auto;
    background-image: url('bg4.jpg');
}
.topheader
{
    color:#bfbfbf;
    background-color:#262626;
    width:100%;
    padding:10px;
    font-size:350%;
    font-family:bookman;
    padding-left:10%;
    padding-bottom:2%;
}
.topheader:hover
{
    color:white;
}
.menu
{
    color:white;
    text-align: center;
    margin-top:3%;
    font-family: fantasy;
    font-size: 400%;
}
.details
{
    text-align: center;
}
.messform
{
    width:20%;
    padding:10px 4px 10px 5px;
    border-radius: 6px;
    margin-right: 0.5%;
}
#butn
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.table
{
    color: white;
    text-align: center;
}
.table thead tr th
{
    color:black;
    background-color:white;
    text-align:center;
}
.edit
{
    margin: 2% auto 0 auto;
    text-align: center;
    width: 60%;
}