<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Admin Login</title>
    {% load static %}
    <link rel=stylesheet href='{% static "adminpage/styleadmin.css" %}'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class='topheader'><b>Mess Management System</b></div>
    {% if message %}
    <div class="alert alert-danger fade in" ><span class="glyphicon glyphicon-remove"></span><strong>{{ message }}</strong></div>
    {% endif %}
    <div class="container-fluid">
        <div class="col-sm-6">
            <div class='heading'>
                <b>Admin Login</b>
            </div>
        </div>
         
        <div class="col-sm-6">
            <form class='sideform' method="post">
               <!-- <input type='text' class='form-control' placeholder='Admin ID'>
                <input type='password' class='form-control' placeholder='Password'> -->
                {% csrf_token %}
                {{ form }}
                <button class='btn btn-primary'>Click Here To Log In</button>
            </form>
        </div>
    </div>
    <div class='pagebottom'>
    DBMS PROJECT © V SEM 2017<br>
    <br>Saurabh Yadav 15CO145
    <br>Kiran S 15CO125
    </div>

</body>
    
</html>